<p id="notice"><%= notice %></p>

<h1>Municipios</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @municipios.each do |municipio| %>
      <tr>
        <td><%= municipio.codigo %></td>
        <td><%= municipio.nombre %></td>
        <td><%= municipio.estado %></td>
        <td><%= link_to 'Show', municipio %></td>
        <td><%= link_to 'Edit', edit_municipio_path(municipio) %></td>
        <td><%= link_to 'Destroy', municipio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Municipio', new_municipio_path %>
