<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @region.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @region.nombre %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regiones_path %>
